<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
	<system.web>
		<compilation debug="true" targetFramework="4.0"/>
	</system.web>
  <connectionStrings>
    <add name="myconnectionstring" connectionString="Data Source=.\sqlexpress;Initial Catalog=E-car;Integrated Security=True;Pooling=False" />
    <add name="E-carConnectionString" connectionString="Data Source=.\sqlexpress;Initial Catalog=E-car;Integrated Security=True;Pooling=False"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>
